html, body, #bodyWrapper {
    height:100%;
    width: 100%;
}

body {
    height: calc(100% - 60px);
    overflow-x: hidden;
}

.contentWrapper {
    height: calc(100% - 101px);
}

#sideBar {
    height: 100%;
    overflow: auto;
}

/* general */
.top-buffer { margin-top:20px; }

.text-tab {
    text-indent: 3em;
}

/* navbar section related */
#navbarBrand {
    margin-left: 20px;
}

.navbar {
    border-radius: 0;
    width: 100%;
}

/* footer section related */
#footer {
    background-color: #3e3f3a;
    color: #ffffff;
    width: inherit;
}

/* SideBar */
#sideBar {
    height: 100%;
    border-right: 1px solid #3e3f3a;
}

#menuItemsWrapper {
    margin-left: 15px;
    border-radius: 5px;
}

.mainSectionSideBarObject {
    min-height: 52px;
    position: relative;
    display: block;
    margin-bottom: -1px;
    border: 1px solid #dfd7ca;
}

.sideBarItemHeader {
    padding: 16px 20px 7px 24px;
}

.sideBarSubItems {
    margin-left: 30px;
    border-left: 1px solid #dfd7ca;
}

.sideBarSubItemsObject {
    border-top: 1px solid #dfd7ca;
}

.selectedItem {
    background-color: #e0e0e0;
}






/* main content related */
.divider-vertical {
    height: 50px;
    margin: 0 9px;
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #FFF;
}