html, body, #bodyWrapper {
    height:100%;
    width: 100%;
}

.contentWrapper {
    height: calc(100% - 101px);
    margin-right: 5px;
}

/*  ---------------------------------------------------------------------------------------------------
    --------------------------------------------- general ---------------------------------------------
    --------------------------------------------------------------------------------------------------- */

.formErrorColor {
    color: #c9302c;
}

input[type="text"]:disabled {
    background: #eeeeee;
}

.horizontalSeperator {
    width: 80%;
    left: auto;
    margin-left: 10%;
    padding-right: 10%;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

#wholeScreenOpacity {
    z-index: 9998;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    display: none;
}

.top-buffer { margin-top:20px; }

.text-tab {
    text-indent: 3em;
}

/* navbar section related */
#navbarBrand {
    margin-left: 20px;
}

.navbar {
    border-radius: 0;
    width: 100%;
    height: 30px;
}

/* footer section related */
#footer {
    background-color: #3e3f3a;
    color: #ffffff;
}


/*  ---------------------------------------------------------------------------------------------------
    --------------------------------------------- Side Bar --------------------------------------------
    --------------------------------------------------------------------------------------------------- */

#sideBar {
    height: calc(100% - 31px);
    width: 300px;
    overflow: auto;
    border-right: 1px solid #3e3f3a;
    float:left;
    position: fixed;
    margin-top: 16px;
}

#menuItemsWrapper {
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
}

.mainSectionSideBarObject {
    min-height: 52px;
    position: relative;
    display: block;
    margin-bottom: -1px;
    border: 1px solid #dfd7ca;
}

.sideBarItemHeader {
    padding: 16px 20px 7px 24px;
}

.sideBarSubItems {
    margin-left: 30px;
    border-left: 1px solid #dfd7ca;
}

.sideBarSubItemsObject {
    border-top: 1px solid #dfd7ca;
}

.selectedItem {
    background-color: #e0e0e0;
}


/*  ---------------------------------------------------------------------------------------------------
    ------------------------------------------ Main Content -------------------------------------------
    --------------------------------------------------------------------------------------------------- */

#mainBody {
    z-index: 1000;
    width: calc(100% - 330px);
    float:right;
    margin-left: 15px;
    margin-right: 13px;
}

.materialTable {
    border-radius: 5px;
    font-size: 12px;
}

.materialTable > div {
    height: 30px;
    padding-top: 5px;
}

.materialTable tr {
    height: 10px;
    padding-top: 5px;
}

.materialTable a {
    color: black;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.42857143;
    color: #3e3f3a;
}

.tableBlackBorder {
    border: 1px solid #3e3f3a;
}

.addTableItem {
    height: 41px;
    border-top: 1px solid #3e3f3a;
    padding-top: 9px;
}

#addMaterialElement {
    z-index: 9999;
    position: fixed;
    height: 550px;
    width: 400px;
    top: calc(50% - 275px);
    left: calc(50% - 200px);
    background-color: white;
    border: 1px solid #3e3f3a;
    border-radius: 20px;
    display: none;
}

#editMaterialElement {
    z-index: 9999;
    position: fixed;
    height: 525px;
    width: 900px;
    top: calc(50% - 262px);
    left: calc(50% - 450px);
    background-color: white;
    border: 1px solid #3e3f3a;
    border-radius: 20px;
    display: none;
}

#editMaterialElement .horizontalSeperator {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
}

.editMaterialLeftSide {
    width: 450px;
    float: left;
}

.editMaterialRightSide {
    width: 450px;
    float: right;
}

#editMaterialReplaceDivision {
    height:50px;
}

#editMaterialButtonDivision {
    height:252px;
    padding-top: 15px;
}

#editMaterialAddStockSection {
    padding-left: 15px;
    padding-right: 15px;
}

#addMaterialElement h2, #editMaterialElement h2, #editMaterialElement h4 {
    text-align: center;
}

#addMaterialElement form, #editMaterialElement form {
    padding: 0px 20px 0px 20px;
}

#addMaterialElement label, #editMaterialElement label {
    padding-top: 7px;
}

#addMaterialElement input, #addMaterialElement label, #addMaterialElement select,
#editMaterialElement input, #editMaterialElement label, #editMaterialElement select {
    height: 35px;
}

#addMaterialElement select, #editMaterialElement select {
    background-color: white;
    border-radius: 5px;
    margin-left: 15px;
}

#addMaterialElement select {
    width: 228px;
}

#editMaterialElement select {
    width: 234px;
}