<!DOCTYPE html>
<html>
    <head>
        <title>Stock Tracker</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <!-- css -->
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/css/script.css" rel="stylesheet" type="text/css">
        <!-- js -->
        <script type="application/javascript" src="/js/jquery-2.1.1.min.js"></script>
        <script type="application/javascript" src="/js/bootstrap.min.js"></script>
        <script type="application/javascript" src="/js/knockout-3.2.0.js"></script>
        <script type="application/javascript" src="/js/logic/init.js"></script>
        <script type="application/javascript" src="/js/logic/forms.js"></script>
        <script type="application/javascript" src="/js/logic/handlerContent.js"></script>
        <script type="application/javascript" src="/js/logic/handlerMenu.js"></script>
        <script type="application/javascript" src="/js/model/mainContent.js"></script>
        <script type="application/javascript" src="/js/model/menuItems.js"></script>
        <script type="application/javascript" src="/js/model/utils.js"></script>
        <script type="application/javascript" src="/js/model/viewModel.js"></script>
        <script type="application/javascript" src="/js/utils.js"></script>
    </head>
    <body>
        <!-- base layout -->
        <div id="bodyWrapper">
            <div class="contentWrapper">
                <div id="sideBar">
                    <div id="menuItemsWrapper" data-bind="template: { name: mainMenuItemDisplayMode, foreach: menuItems }"></div>
                </div>
                <div id="mainBody">
                    <div id="mainContentWrapper" data-bind="template: { name: mainContentDisplayMode, data: mainContent }"></div>
                </div>
                <!-- divs that should overwrite all content -->
                <div id="wholeScreenOpacity"></div>
                <div id="addMaterialElement">
                    <h2>Adicionar novo item em <span id="addMaterialSectionTitle"></span></h2>
                    <form role="form">
                        <div>
                            <div>
                                <div class="form-group row">
                                    <label for="materialDisplayNameAddForm" class="col-md-4">Identificador</label>
                                    <div class="col-md-8">
                                        <input type="text" name="displayName" class="form-control" id="materialDisplayNameAddForm">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="minimumStockAddForm" class="col-md-6">Stock mínimo (alerta)</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" name="minimumStock" id="minimumStockAddForm">
                                    </div>
                                </div>
                            </div>
                            <div class="horizontalSeperator"></div>
                            <div>
                                <div class="form-group row">
                                    <label for="actualStockAddForm" class="col-md-6">Stock Actual</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" value="0" name='actualStock' id="actualStockAddForm">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="originSupplierAddForm" class="col-md-4">Fornecedor</label>
                                <select id="originSupplierAddForm" class="col-md-8" name="originalSupplier"></select>
                            </div>
                            <div id="supplierDependentSectionAddForm">
                                <div class="form-group row">
                                    <label for="boughtPriceAddForm" class="col-md-6">Preço de Compra</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" value="0" name="salePrice" id="boughtPriceAddForm" disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="discountAddForm" class="col-md-6">Desconto</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" value="0" name="discount" id="discountAddForm" disabled>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="ownerSection" id="ownerSectionAddForm">
                            <div class="row">
                                <div class="form-group col-md-4 col-sm-offset-1">
                                    <button type="submit" class="btn btn-default" id="addMaterialSaveButton">Gravar item</button>
                                </div>
                                <div class="form-group col-md-4 col-sm-offset-1">
                                    <button type="submit" class="btn btn-default" id="addMaterialCancelButton">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="editMaterialElement">
                    <h2>Modificar <span id="editMaterialItemTitle"></span> de <span id="editMaterialSectionTitle"></span></h2>
                    <form role="form">
                        <div>
                            <div class="form-group row editMaterialLeftSide">
                                <label for="materialDisplayNameEditForm" class="col-md-4">Identificador</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" name="displayName" id="materialDisplayNameEditForm">
                                </div>
                            </div>
                            <div class="form-group row editMaterialRightSide">
                                <label for="minimumStockEditForm" class="col-md-6">Stock mínimo (alerta)</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="minimumStock" id="minimumStockEditForm">
                                </div>
                            </div>
                        </div>
                        <div class="horizontalSeperator" id="editMaterialReplaceDivision"></div>
                        <div class="form-group row">
                            <div>
                                <label for="actualStockEditForm" class="col-md-3">Stock Actual</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" name="actualStock" id="actualStockEditForm" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="editMaterialLeftSide row form-group">
                            <h4>Remover Stock</h4>
                            <div >
                                <label for="decreaseStockEditForm" class="col-md-6">Quantidade a remover</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="decreaseAmount" id="decreaseStockEditForm">
                                </div>
                            </div>
                        </div>
                        <div class="editMaterialRightSide row form-group" id="editMaterialAddStockSection">
                            <h4>Adicionar Stock</h4>
                            <div class="form-group row">
                                <label for="increaseStockEditForm" class="col-md-6">Quantidade a adicionar</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="increaseAmount" id="increaseStockEditForm">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="originSupplierEditForm" class="col-md-5">Fornecedor</label>
                                <select id="originSupplierEditForm" class="col-md-7" name="originalSupplier"></select>
                            </div>
                            <div id="supplierDependentSectionEditForm">
                                <div class="form-group row">
                                    <label for="boughtPriceEditForm" class="col-md-5">Preço de Compra</label>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control" value="0" name="salePrice" id="boughtPriceEditForm" disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="discountEditForm" class="col-md-5">Desconto</label>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control" value="0" name="discount" id="discountEditForm" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="ownerSection" id="ownerSectionEditForm">
                        <div class="horizontalSeperator" id="editMaterialButtonDivision"></div>
                        <div id="editMaterialButtonSection">
                            <div class="form-group col-md-2 col-md-offset-2">
                                <button type="submit" class="btn btn-default" id="editMaterialSaveButton">Modificar item</button>
                            </div>
                            <div class="form-group col-md-2 col-md-offset-4">
                                <button type="submit" class="btn btn-default" id="editMaterialCancelButton">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script id="emptyTemplate" type="text/html"></script>

        <!-- templates related to main items in side bar -->
        <script id="noContentMainItemSidebarMenuTemplate" type="text/html">
            <div class="mainSectionSideBarObject">
                <div class="sideBarItemHeader">
                    <p><span data-bind="text: displayName"/></p>
                </div>
            </div>
        </script>

        <script id="inactiveMainItemSidebarMenuTemplate" type="text/html">
            <div class="mainSectionSideBarObject">
                <div class="sideBarItemHeader" data-bind="click: switchSection">
                    <p><span data-bind="text: displayName"/><span class="glyphicon glyphicon-chevron-down pull-right"/></p>
                </div>
            </div>
        </script>

        <script id="activeMainItemSidebarMenuTemplate" type="text/html">
            <div class="mainSectionSideBarObject">
                <div class="sideBarItemHeader selectedItem" data-bind="click: switchSection">
                    <p><span data-bind="text: displayName"/><span class="glyphicon glyphicon-chevron-up pull-right"/></p>
                </div>
                <div class="sideBarSubItems">
                    <div data-bind="template: { name: subSectionsDisplayMode, foreach: subContent }"></div>
                </div>
            </div>
        </script>


        <!-- templates related to items directly bellow main item in side bar -->
        <script id="noContentItemSidebarMenuTemplate" type="text/html">
            <div class="sideBarItemHeader sideBarSubItemsObject" data-bind="click: scrollPageToItem">
                <p><span data-bind="text: displayName"/></p>
            </div>
        </script>

        <script id="inactiveItemSidebarMenuTemplate" type="text/html">
            <div data-bind="click: switchSection">
                <div class="sideBarItemHeader sideBarSubItemsObject">
                    <p><span data-bind="text: displayName"/><span class="glyphicon glyphicon-chevron-down pull-right"/></p>
                </div>
            </div>
        </script>

        <script id="activeItemSidebarMenuTemplate" type="text/html">
            <div>
                <div class="sideBarItemHeader sideBarSubItemsObject selectedItem" data-bind="click: switchSection">
                    <p><span data-bind="text: displayName"/><span class="glyphicon glyphicon-chevron-up pull-right"/></p>
                </div>
                <div class="sideBarSubItems">
                    <div data-bind="template: { name: subSectionsDisplayMode, foreach: subContent }"></div>
                </div>
            </div>
        </script>

        <!-- templates related to main content (material related) -->
        <script id="materialListingTemplate" type="text/html">
            <h1 class="text-center" data-bind="text: materialType"></h1>
            <div data-bind="template: { name: subContentDisplayMode, foreach: subContent }"></div>
        </script>

        <script id="materialIntermediarySectionTemplate" type="text/html">
            <div data-bind="template: { name: subContentDisplayMode, foreach: subContent }"></div>
        </script>

        <script id="materialFinalSectionTemplate" type="text/html">
            <div class="panel panel-default text-center tableBlackBorder materialTable"
                 data-bind="attr: {'id': appId}">
                <div class="panel-heading" data-bind="text: fullDisplayName"></div>
                <table class="table" rules="cols">
                    <thead>
                        <tr>
                            <td></td>
                            <td>Stock Mínimo</td>
                            <td>Stock Actual</td>
                            <td>Preço de Venda</td>
                        </tr>
                    </thead>
                    <tbody data-bind="template: {name: 'materialFinalSectionRowTemplate', foreach: items}"></tbody>
                </table>
                <div class="addTableItem">
                    <a data-bind="click: activateAdditionForm">Adicionar novo item</a>
                </div>
            </div>
        </script>

        <script id="materialFinalSectionRowTemplate" type="text/html">
            <tr>
                <td data-bind="text: displayName"></td>
                <td data-bind="text: minimumStock"></td>
                <td data-bind="text: actualStock"></td>
                <td data-bind="text: salePrice"></td>
                <td><a data-bind="click: activateEditForm">Editar</a></td>
                <td><a>Detalhes</a></td>
            </tr>
        </script>
    </body>
</html>