    </head>
    <body>
        <div id="bodyWrapper">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header" id="navbarBrand">
                    <a class="navbar-brand" href="/">Stock Tracker</a>
                </div>
            </nav>
            <div class="row" >
                <div class="col-md-3" id="sideBar">
                    <ul class="list-group">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
                <div class="col-md-9" id="mainBody">