<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <!-- css -->
        <link href="/css/external/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="/css/myCss.css" rel="stylesheet" type="text/css">
        <!-- js -->
        <script type="text/javascript" src="https://code.jquery.com/jquery.js"></script>
        <script src="/js/external/bootstrap.min.js"></script>