        </div>
        <div id="footer" class="navbar navbar-inner  navbar-fixed-bottom container">
            <p class="muted credit top-buffer text-center">@ 2014 Cloudomatic, Inc</p>
        </div>
    </body>
</html>