                </div>
                <div id="footer" class="navbar navbar-inner  navbar-fixed-bottom">
                    <p class="muted credit top-buffer text-center">@ 2014 Stock Tracker</p>
                </div>
            </div>
        </div>
    </body>
</html>