    </head>
    <body>
        <div class="container wrapper">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Stock Tracker</a>
                </div>
            </nav>